<!DOCTYPE html>
<html lang="en">
<html>
  <head>
    <meta charset="UTF-8">
    <title>Home</title>
  </head>
  <body>
    <h1><%= subreddit %>></h1>
    <p>browsing the <%= subreddit %> subreddit.</p>
  </body>
</html>