<% layout('layouts/boilerplate')%>
<div class="row">
    <h1 class="text-center">New Example</h1>
    <div class="col-6 offset-3">
        <form action="/examples" method="POST" novalidate class="validated-form">
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" id="title" name="example[title]" required>
            </div>
            <div class="mb-3">
                <label class="form-label" for="danger_level">DangerLevel</label>
                <input class="form-control" type="text" id="danger_level" name="example[danger_level]" required>
            </div>
            <div class="mb-3">
                <label class="form-label" for="image">Image</label>
                <input class="form-control" type="text" id="image" name="example[image]" required>
            </div>
            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text" id="description" name="example[description]" required></textarea>
            </div>
            <div class="mb-3">
                <button class="btn btn-success">Add Example Location</button>
            </div>

        </form>
        <a href="/examples">All Examples</a>
        
    </div>
</div>